.main-container {
    height: 100vh;
    padding: 30px;
}
.main-container__title {
    padding: 40px;
    border: 0;
}
.contact-container:has(div) {
    width: 60%;
    padding: 0;
    margin: 0 auto;
    box-shadow: $bs-box-shadow;

    @media (max-width: 1024px) {
        width: 80%;
    }
}
.contact-title {
    font-family: $title-font;
    text-align: center;
}
@media (min-width: 599px) and (max-width: 1024px) {
    .form-item {
        padding-bottom: 50px;
    }
}