:where(main, .info-container, .info-container__img) {
    width: 100%;
}
:is(.info-container__text, .article-container, .article-information, .article-information-img, .final-article) {
    width: 80%;

    @container (max-width: 1024px) {
        width: 100%;
    }
}
h3 {
    font-family: $title-font;
}
.info-container {
    @include flex-container();
    height: 570px;
    container-type: inline-size;
}
.info-container__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.info-container__text {
    @include grid-container();
    gap: 30px;
    padding: 20px;
    border-bottom: 1px solid $secondary-color;

    @container (max-width: 1024px) {
        grid-template-columns: none;
        padding: 20px;
    }
}
.info-container__text__blockquote {
    font-size: 12px;
    text-align: start;

    @container (max-width: 1024px) {
        font-size: 8px;
    }
}
blockquote {
    margin: 5px 10px;
    font-size: 20px;
    font-style: italic;

    @container (max-width: 1024px) {
        font-size: 15px;
    }
}
.list-container {
    @include flex-container();
    padding: 30px;

    li {
        display: flex;
        gap: 10px;
        align-items: baseline;
        font-size: 20px;
        text-align: start;
        list-style: none;

        i {
            color: $secondary-color;
            transition: transform 0.3s ease;
        }

        i:hover {
            transform: scale(1.5);
        }

        @container (max-width: 600px) {
            font-size: 15px;
        }
    }

    @container (max-width: 600px) {
        width: 100%;
        padding: 20px 20px 0;
    }
}
.article-container {
    @include flex-container();
    margin: 0 auto;
    container-type: inline-size;
}
.article-container__main {
    @include flex-container();
    padding: 20px;
    border-top: 1px solid $secondary-color;

    img {
        width: 70%;
        border-radius: 10px;

        @container (max-width: 1024px) {
            width: 100%;
        }
    }
}
.article-container__main__text {
    @include grid-container();
    gap: 30px;
    padding: 30px 0;

    @container (max-width: 600px) {
        grid-template-columns: none;
    }
}
.article-information {
    @include flex-container();
    padding: 20px;

    article {
        padding: 10px;
    }
}
.article-information-img {
    @include grid-container();
    align-items: center;
    padding: 0 30px 40px 30px;
    text-align: start;

    img {
        width: 90%;
        border-radius: 10px;

        @container (max-width: 600px) {
            width: 100%;
        }
    }

    @container (max-width: 600px) {
        grid-template-columns: none;
        gap: 20px;
        padding: 0 30px 20px 30px;
        text-align: center;
    }
}
.final-article {
    padding-bottom: 40px;

    @container (max-width: 1024px) {
        padding: 0 10px 10px 10px;
    }
}
