<footer class="bg-dark text-white p-2">
  <div class="footer__container">
    <img src="./assets/images/logo-micro.png" alt="logo" width="50" height="60" class="d-inline-block align-items-center" />
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
      <ul class="navbar-nav footer-nav">
        <li class="nav-item"><a class="nav-link" href="./index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="./speakers.html">Speakers</a></li>
        <li class="nav-item"><a class="nav-link" href="./info.html">Información</a></li>
        <li class="nav-item"><a class="nav-link" href="./contact.html">Contacto</a></li>
      </ul>
    </nav>
  </div>
</footer>
