<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light p-3">
    <img src="./assets/images/logo-micro.png" alt="logo" width="50" height="60" class="d-inline-block align-text-top me-4" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-2" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">
            <button id="indexButton" type="button" class="btn btn-outline-light nav-button">Inicio</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./speakers.html">
            <button id="speakersButton" type="button" class="btn btn-outline-light nav-button">Speakers</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./info.html">
            <button id="infoButton" type="button" class="btn btn-outline-light nav-button">Información</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html">
            <button id="contactButton" type="button" class="btn btn-outline-light nav-button">Contacto</button>
          </a>
        </li>
      </ul>
  </div>
</nav>